
<header>
    <img src="../ui/headerLogo.png" alt="The image could not be loaded"></img>
</header>
<!--Workspace Tab Bar-->
<div class="tabPanel">
    
    <button class="wp_tab" onClick="ui.change_wpTab(event)">
        <div class = "wp_projectUtil_tab_active"></div>
    </button>

    <button class="wp_tab" onClick="ui.change_wpTab(event)">
        <div class = "wp_editingTools_tab"></div>
    </button>

    <button class="wp_tab" onClick="ui.change_wpTab(event)">
        <div class = "wp_titles_tab"></div>
    </button>

    <button class="wp_tab" onClick="ui.change_wpTab(event)">
        <div class = "wp_mapOverviews_tab"></div>
    </button>

    <button class="wp_tab" onClick="ui.change_wpTab(event)">
        <div class = "wp_agentTemplates_tab"></div>
    </button>
</div>

    <!--Workspace Panels-->
<div id="wp_projectUtil" class="wp_container">
    <button id="testButton1">Place</button>
</div>
<div id="wp_editingTools" class="wp_container">
    <button id="testButton2">Summon</button>
</div>
<div id="wp_titles" class="wp_container">
    <button id="testButton3">Generate</button>
</div>
<div id="wp_mapOverviews" class="wp_container">
    <button id="testButton4">Import</button>
</div>
<div id="wp_agentTemplates" class="wp_container">
    <button id="testButton5">Cut</button>
</div>
